<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Hello, world!</title>
    <style>
        .navbar-nav .nav-link {
            margin-right: 25px; /* Adjust the margin to increase or decrease spacing */
        }

        #gore {
            background-image: url('/auto-parts-1.png');
            background-size: cover;
            background-position: center;
            height: 69vh;
        }

        .btn-primary {
            background-color: #6c757d;
            border-color: #6c757d;
            padding: 12px 24px;
            font-size: 18px;
            font-family: "Segoe UI";
            border-radius: 30px;
            transition: background-color 0.3s, border-color 0.3s;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            outline: none;
        }

        .btn-primary:hover {
            background-color: #495057;
            border-color: #495057;
            transform: translateY(-2px);
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        }

        .btn-primary:focus {
            box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
        }

        .btn-primary.right {
            float: right;
        }

        .equal-card-image {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkseagreen">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/categories/">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contact/">Contact us</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/upload/">Upload</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href='/cart/'><i class="fas fa-shopping-cart"></i> Cart</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
        <span class="nav-link">
            Logged in as: {{ user.username }}
        </span>
                    </li>
                    <li class="nav-item" style="text-align: right">
                        <a class="nav-link" href="{% url 'logout' %}">
                            Log out
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/"><i class="fas fa-solid fa-arrow-right"></i> Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup/"><i class="fas fa-solid fa-hands"></i> Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<section id="gore">
    <div class="container w-75 h-100" id="prv">
        <a href="/categories/" class="btn btn-primary btn-lg p-3 mt-5 rounded-pill">SHOP NOW</a>
    </div>
</section>

<section>
    <div class="container text-center">
        <hr style="border-color: #ccc; border-width: 0; height: 1px; background-color: darkseagreen; margin: 20px 0;">
        <h4 style="padding-bottom: 8px">Top selling products</h4>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="/download.jpg" class="card-img-top equal-card-image" alt="...">
                    <div class="card-body">
                        <p class="card-title"><b>Pirelli</b></p>
                        <p class="card-text">The manufacturer Pirelli is one of the best Italian brands.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images.jpg" class="card-img-top equal-card-image" alt="...">
                    <div class="card-body">
                        <p class="card-title"><b>Pirelli</b></p>
                        <p class="card-text">The manufacturer Pirelli is one of the best Italian brands.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/refresh-best-all-terrain-tires-lead-1620764663.jpg" class="card-img-top equal-card-image"
                         alt="...">
                    <div class="card-body">
                        <p class="card-title"><b>Pirelli</b></p>
                        <p class="card-text">The manufacturer Pirelli is one of the best Italian brands.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/nexto.jpg" class="card-img-top equal-card-image" alt="...">
                    <div class="card-body">
                        <p class="card-title"><b>Pirelli</b></p>
                        <p class="card-text">The manufacturer Pirelli is one of the best Italian brands.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>AutoShop
                    </h6>
                    <p>
                        The best quality and price on the same place.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Home</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Products</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Contact us</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

</footer>
<!-- Footer -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
